<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.CommentsMapper">
    
    <!-- 댓글 추가 -->
    <insert id="CommentsAdd" parameterType="CommentsDTO">
        insert into study_comments (comments, studyid, userid)
        values ( #{comments}, #{studyid}, #{userid}) 
    </insert>
    
    <!-- 댓글 조회 (조인 사용) -->
    <select id="findAll" resultType="CommentsDTO" parameterType="int">
        SELECT sc.commentsid, sc.comments, sc.created_at, sc.studyid, sc.userid, m.username
        FROM study_comments sc
        JOIN member m ON sc.userid = m.userid
        WHERE sc.studyid = #{studyid}
    </select>
    
    <!-- 댓글 삭제 -->
    <delete id="deleteComment" parameterType="int">
        DELETE FROM study_comments 
        WHERE commentsid = #{commentsid}
    </delete>
    
    <!-- 댓글 개수 조회 -->
    <select id="getCommentCount" resultType="int" parameterType="int">
        SELECT count(*)
        FROM study_comments 
        WHERE studyid = #{studyid}
    </select>

</mapper>
