<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.PostMapper">
	
	<!-- 포스트글 저장하기 -->
	<insert id="postAdd" parameterType="PostDTO"> 
	 insert into study_posts (title, description,category, user_id)
	 values ( #{title}, #{description}, #{category}, #{userid}) 
	</insert>

	<!-- 전체 포스트 글 가져오기 -->
    <select id="findAll" resultType="PostDTO"> 
		select * from study_posts 
	</select>
	
	<!-- 특정 카데고리별로 가져오기 -->
	<select id="findByCategory" resultType="PostDTO" parameterType="string"> 
    select * from study_posts 
    where trim(category) = #{category}
	</select>
	
	<!-- 포스트 삭제하기 -->
	<delete id="PostDelete" parameterType="int">
	    delete from study_posts
		where studyid = #{studyid}
	</delete>
	 
	 <!-- 포스트 수정하기 -->
	<update id="PostUpdate" parameterType="PostDTO">
    update study_posts
    set title = #{title}, description = #{description}
    where studyid = #{studyid}
	</update>
	
	<!-- id로 포스트 찾기 -->
<select id="findById" resultType="PostDTO" parameterType="int">
    SELECT p.studyid, p.title, p.description, p.category, p.user_id, m.username
    FROM study_posts p
    JOIN member m ON p.user_id = m.userid
    WHERE p.studyid = #{studyid}
</select>
	
</mapper>